<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">

<form th:object="${questionForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		
		<div>
			<label for="subject" class="">제목</label> 
			<input type="text" th:field="*{subject}"
				name="subject" id="subject" class="">
		</div>
		

		<div>
			<label for="content" class="">내용</label> 
			<textarea
				name="content" id="content" class="" th:field="*{content}" rows="10">
			</textarea>
		</div>

		<div>
			<input type="submit"
				value="저장하기" class="">
		</div>

	</form>

</div>
</html>