<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">

	<!-- 질문내용 보이기  -->
	<h2 th:text="${question.subject}"></h2>
	
	<div class="card my-3">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line;"
				th:text="${question.content}"></div>

		</div>
	</div>


<!-- 질문 작성자  -->
	<div>
		<span th:if="${question.author != null}"
			th:text="${question.author.username}"></span>
	</div>



	<!--  답변 개수 보이기 -->
	<h3 th:text="|${#lists.size(question.answerList)} 개의 답변이 있습니다.|"></h3>

	<!-- 답변 반복 -->
	<div>

		<div th:each="answer : ${question.answerList}">

			<div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
			<div th:if="${question.author != null}" th:text="${answer.author.username}"></div>
				
			<div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
			<!-- 수정 버튼, 로그인사용자와 글쓴이 확인  
			#authentication.getPrincipal()은 Principal 객체를 리턴하는 타임리프의 유틸리티이다.
			-->
			<div>
			<a th:href="@{|/question/modify/${question.id}|}" class=""
			sec:authorize="isAuthenticated()"
			th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}" 
			th:text="수정">
			</a>
			</div>
			
			
		</div>
	</div>




	<!-- 답변작성 -->
	<form th:action="@{|/answer/create/${question.id}|}"
		th:object="${answerForm}" method="post">

		<div th:replace="~{form_errors :: formErrorsFragment}"></div>

		<!-- 로그아웃상태에선 답변 달지 못하도록 
sec:authorize="isAnonymous()" - 현재 로그아웃 상태
sec:authorize="isAuthenticated()" - 현재 로그인 상태
 -->
		<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}"
			rows="15"></textarea>
		<textarea sec:authorize="isAuthenticated()" th:field="*{content}"
			class="form-control" rows="10"></textarea>

		<input type="submit" value="답변등록">
	</form>


</div>
</html>