<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">

<h1 th:text="${question.subject}"></h1>
<div th:text="${question.content}"></div>
<h3 th:text="|${#lists.size(question.answerList)} 개의 답변이 있습니다.|"></h3>
<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

<div>
<ul>
<li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
</ul>
</div>

<!-- 답변작성 -->
<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post">

<div th:replace="~{form_errors :: formErrorsFragment}"></div>

<!-- 로그아웃상태에선 답변 달지 못하도록 
sec:authorize="isAnonymous()" - 현재 로그아웃 상태
sec:authorize="isAuthenticated()" - 현재 로그인 상태
 -->
<textarea  sec:authorize="isAnonymous()" disabled  th:field="*{content}" rows="15"></textarea>
 <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
 
<input type="submit" value="답변등록">
</form>


</div>
</html>